.HomePage {

    background: rgb(249,249,249);

    .book-show {
        margin: 0 auto;
        padding: 10px 0;
        width: 1200px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .list {
        margin: 0 auto;
        padding: 0 15px;
        width: 1200px;
        width: 100%;
        height: 44px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        background: #fff;
        color: #5f5f5f;
        border: 1px solid #d8d8d8;
        overflow: hidden;

        li {
            
            padding: 2px 10px;
            border-radius: 13px;
            cursor: pointer;
            transition: all .5s;
            
            &:hover {
                color: #fff;
                background: #2880da;
            }
        }

        .active {
            color: #fff;
            background: #2880da;
        }

        a {
            margin-left: 40px;
            font-size: 12px;
        }
        
    }

    .round-chart {
        position: relative;
        height: 300px;
        overflow: hidden;

        .former {
            position: absolute;
            z-index: 0;
        }

        .banner {
            position: absolute;
            z-index: -1;
        }

        ul {
            position: absolute;
            bottom: 5px;
            left: 50%;
            display: flex;
            justify-content: center;
            transform: translate(-50%,0);

            li {
                width: 30px;
                height: 3px;
                margin: 3px;
                border-radius: 5px;
                background: rgba(250,250,250,0.5);
                cursor: pointer;

                &.active {
                    background: rgba(250,250,250,1);
                    transition: all .5s;

                    &::before {
                        content: '';
                        display: block;
                        height: 100%;
                        animation: longChange 4s linear;
                    }
                }

                span {
                    display: inline-block;
                    
                }
            }
        }
    }

    .runbo-enter-active,
    .runbo-leave-active
      {
        transition: opacity 1s;
    }

    .runbo-enter,
    .runbo-leave-to {
        opacity: 0;
    }


    .guoji-show {

        .book-intro {
            height: 352px;
        }

        .book {
            height: 352px;
        }
    }

    .guonei-show {

        .book-intro {
            height: 332px;
        }

        .book {
            height: 332px;
        }
    }

    .commercial-list {
        width: 1100px;
    }

    .consult-man {
        margin-top: 20px;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        background: url('http://zhimaikeji.net/imgs/wf/prose_answer.png') no-repeat;
        background-size: 100% 100%;

        >div {
            width: 100%;
            font-size: 18px;

            >span {
                margin: 0 15px;
            }

            >p {
                font-size: 16px;
            }

            .man-intro {
                margin: 20px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }

    .industry {
        padding: 30px 5px;
        background: #fff;
        width: 1200px;
        .article-show {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;
            margin: 30px auto 10px;
        }

    }

    .article-check {
        margin: 30px auto;
        flex-wrap: nowrap;
        
        .book-intro {
            width: 222px;
            height: 224px;
        }

        ul {
            
            margin: 10px 0;
            padding: 15px 0;
            height: 224px;
            width: 978px;
            width: calc(100% - 300px);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background: #fff;
            overflow-y: auto;
            scrollbar-width: none;

            li {
                margin: 3px;
                width: 20%;
                height: 74px;
                border: 3px solid #d8d8d8;
                cursor: pointer;
                transition: all .5s;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    border-color: #ffa231;
                }
            }
        }
    }

    .new-article {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px auto;

        .book-intro {
            height: 434px;
        }

        .article-table {
            width: calc(100% - 250px);
            height: 434px;
            width: 978px;
            margin: 10px 0;
            text-align: center;
            background: #fff;
            border: 1px solid #dcdee2;
            border-top: none;
            overflow-y: auto;
            scrollbar-width: none;

            .article-look {
                display: inline-block;
                margin-top: 30px;
                width: 298px;
                height: 35px;
                line-height: 35px;
                color: #2880da;
                border: 1px solid #2880da;
                font-size: 12px;
                border-radius: 5px;
                outline: none;
                background: #fff;
                cursor: pointer;

                &:hover {
                    background: #2880da;
                    color: #fff;
                }
            }
        }
        
    }

    .web-container {
        background: #fff;
        padding: 20px 0;
        margin: 50px 0 20px;
        width: 1200px;
        .book-intro {
            height: 278px;
        }

        .web-rd {
            width: 100%;

            margin: 0 auto;
            display: flex;
            justify-content: space-between;
    
            .web-detail {
                width: calc(100% - 275px);
                width: 978px;
                height: 278px;
                padding: 8px 5px 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                overflow-y: auto;
                scrollbar-width: none;
            }
    
        }
    }

}

@keyframes longChange {
    0% {
        width: 0%;
        background: #7dbef2;
    }
    50% {
        width: 50%;
        background: #7dbef2;
    }
    99%{
        width: 99%;
        background: #7dbef2;
    }
    100% {
        width: 100%;
        background: none;
    }
}