
$blueColor:#2880da;
.OnlineSubmit{

    .submit-pane {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0;
        align-items: center;
        font-size: 14px;
        background: #fffbef;
        color: #787878;


        input {
            height: 28px;
            line-height: 28px;
            text-indent: 3px;
            outline: none;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #d8d8d8;
        }

        strong {
            vertical-align: middle;
            color: red;
        }

        >div {

            margin: 10px 0;
            width: 610px;
            text-align: center;

            &:first-child{

                font-size: 18px;
                color: #5f5f5f;

                span {
                    margin: 0 15px;
                }

            }

            .redBorder {
                border-color: red;
            }
        

            &.submit-title {


                input {
                    margin-left: 5px;
                    width: 534px;
                }
            }

            &.submit-message {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                >div {

                    input {
                        margin-left: 5px;
                        width: 192px;
                    }

                    p {
                        text-align: left;
                        margin-left: 70px;
                        font-size: 12px;
                        color: #a6a6a6;
                    }
                }

            }

            &.submit-select {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 28px;
                line-height: 28px;
                padding-right: 5px;
                box-sizing: border-box;

                >div {

                    &:first-child{

                        display: flex;
        

                        div {

                            position: relative;
                            margin-left: 10px;
                            width: 76px;
                            height: 28px;
                            line-height: 28px;
                            font-size: 12px;
                            text-align: center;
                            color: #ff8b00;
                            background: #fff;
                            border: 1px solid #ff8b00;
                            border-radius: 4px;
                            box-sizing: border-box;
                            cursor: pointer;

                            input {
                                display: block;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                font-size: 0;
                                opacity: 0;
                                cursor: pointer;
                            }
                        }
                    }

                    &:last-child{
                        >span {
                            margin: 0 5px;
                            display: inline-block;
                            width: 95px;
                            height: 28px;
                            text-align: center;
                            line-height: 28px;
                            font-size: 12px;
                            background: #fff;
                            border: 1px solid #d8d8d8;
                            // border-radius: 5px;
                            cursor: pointer;
                        }

                        
                    }
                }

                
            }

            &.message-add {

                .keywords {

                    display: flex;
                    // align-items: center;
                    min-height: 30px;
                    margin-bottom: 10px;

                    span {
                        display: inline-block;
                        min-width: 56px;
                        text-align: left;
                    }

                    .tags {
                        margin-left: 10px;


                        .input-new-tag {
                            width: 80px;
                        }
                    }
                }

                .summary {
                    span {
                        display: inline-block;
                        width: 56px;
                        text-align: left;
                    }
                }

                textarea {
                    margin: 0 5px;
                    width: calc(100% - 70px);
                    padding: 5px;
                    border: 1px #d8d8d8 solid;
                    border-radius: 5px;
                    resize: none;
                    outline: none;
                    vertical-align: top;
                }
            }

            &:last-child {
                margin-top: 20px;

                // button {

                //     outline: none;
                //     margin: 0 5px;
                //     width: 104px;
                //     height: 36px;
                //     line-height: 36px;
                //     text-align: center;
                //     color: #2880da;
                //     border: 1px solid #2880da;
                //     font-size: 14px;
                //     border-radius: 4px;
                //     background: #fffbef;
                //     cursor: pointer;

                //     &:last-child {
                //         color: #fff;
                //         background: #2880da;
                //     }

                // }
            }
            
        }

        >p {
            font-size: 12px;
            color: #a6a6a6; 
            margin-bottom: 20px;
        }
    }

    .message-list {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;


        >div {

            >p{

                height: 52px;
                line-height: 52px;
                color: $blueColor;
                font-size: 16px;
                border-bottom: 1px solid #ececec;

                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: text-bottom;
                    height: 16px;
                    width: 4px;
                    background: $blueColor;
                    border-radius: 5px;
                }
                // border-left: 1px solid #222222;
            }

            >div {

                display: flex;
                justify-content: space-between;

                ul {

                    &:first-child {
                        padding-right: 20px;
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        width: 250px;
                        height: 52px;
                        line-height: 52px;
                        font-size: 12px;
                        border-bottom: 1px dashed #ddd;


                        &:hover {
                            color: #2880da;
                        }
                    }
                }
            }
        }
        
        .new-magazines {

            >div {

                ul {

                    li {

                        span {

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:first-child {
                                width: 40px;
                            }

                            &:nth-child(2){
                                
                                width: 130px;
                                
                            }
                        }
                    }
                }
            }
        }


        .employ-messages {
            margin-left: 30px;

            >p {
                a {
                    float: right;
                    font-size: 12px;
                    color: #8f8f8f;

                    &:hover {
                        color: $blueColor;
                    }
                }
            }

            >div {
                ul {
                    li {
                        a {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            color: #5f5f5f;

                            &:hover {
                                color: $blueColor;
                            }

                            span {

                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                &:first-child {
                                    width: 168px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    


}

.fund-pane {
    width: 80%;
    margin: 20px auto;
    font-size: 12px;
    color: rgba(0,0,0,0.65);

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        line-height: 30px;

        input {
            outline: none;
            width: 200px;
            height: 25px;
            line-height: 25px;
        }

    }
}
